@page "/users/details"
@using LCMS.Models
@using LCMS.Services.Interfaces
@using LCMS.Blazor.Components.Pages.BaseClasses
@inject NavigationManager NavigationManager
@inject IServiceProvider ServiceProvider
@inherits AuthenticatedPageBase

<PageTitle>Details</PageTitle>

<h1>User Details</h1>
<hr />
<div>
    @if (model is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">UserType</dt>
            <dd class="col-sm-10">@model.Type</dd>
            <dt class="col-sm-2">Full Name</dt>
            <dd class="col-sm-10">@model.FullName</dd>
            <dt class="col-sm-2">Email Address</dt>
            <dd class="col-sm-10">@model.EmailAddress</dd>
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@model.FullAddress</dd>
            <dt class="col-sm-2">Phone Number</dt>
            <dd class="col-sm-10">@model.PhoneNumber</dd>
            <dt class="col-sm-2">IsActive</dt>
            <dd class="col-sm-10">@model.IsActive</dd>
        </dl>
        <div>
            <a href="@($"/users/edit?id={model.Id}")">Edit</a> |
            <a href="@($"/users")">Back to List</a>
        </div>
    }
</div>

@code {
    private UserModel? model;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var service = ServiceProvider.GetRequiredService<IUserService>();
        model = service.GetUser(Id);
        if (model is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        await base.OnInitializedAsync();
    }
}
